#criar-tarefa , #apaga-tudo {
  height: 25px;
  width: 60px;
}

#remover-finalizados {
  height: 25px;
  width: 140px;
}

.cor-de-fundo {
  background-color: gray;
}

.completed {
  text-decoration: line-through solid black;
}
